!!! 5
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')/
    = stylesheet_link_tag    :application, media: 'all'

  %body
    .container
      .row
        .col-md-12
          .centered
            %h2
              Prospect Report
          %div.table-responsive
            %table.table.table-hover
              %thead
                %tr
                  %th Name
                  %th Email
              %tbody
                %tr
                  %td
                    = @user.firstname + ' ' + @user.lastname
                  %td
                    = @user.email
                %tr
                  %td(colspan="2")
                    %ul.list-unstyled
                      - @user.response.each do |r|
                        %li
                          = r['question']
                          %strong
                            = r['answer']