= @user.firstname + " would like to know more about WeDidIt!"
\
\
Prospect Report
===============
= "Fullname: " + @username.firstname + @username.lastname
= "Email: " + @username.email
= "Question 1: " + "Question 1"
= "Answer: " + "Answer 1"

